local config = require('lapis.config')


config({'development', 'production'}, {
  static_dir = '/path/to/static',
  upload_images_dir = '/path/to/uploads',
  upload_thumbs_dir = '/path/to/uploads/thumbs',
  hashids = 'img.bi',
  -- please pay attention to leading/trailing slashes; example: /api/v2
  api_entry_point = '/api',
})

config({'development', 'production'}, {
  redis = {
    host = '127.0.0.1',
    port = 6379,
  },
})

config('development', {
  port = 9000,
})

config('production', {
  port = 80,
  num_workers = 4,
  code_cache = 'on',
  -- set this header if app is running behind reverse proxy
  -- to use header value instead of ngx.var.remote_addr
  client_ip_header = 'X-Real-IP',
})
